/* Define o estilo do corpo */
body {
    font-family: Roboto, Arial, sans-serif;
    font-size: medium;
    margin: 0; /* Remove margens padrão do body */
    padding: 0; /* Remove preenchimento padrão do body */
    box-sizing: border-box; /* Inclui bordas e preenchimentos no tamanho total dos elementos */
    background: rgb(241, 234, 234);
  }
  
  /* Estilo do contêiner do login */
  .login-container {
    max-width: 400px; /* Ajusta a largura máxima do formulário */
    margin: 20px auto; /* Centraliza o formulário horizontalmente e adiciona margem superior/inferior */
    padding: 20px; /* Adiciona preenchimento interno */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor do formulário */
    border-radius: 5px; /* Arredonda os cantos do formulário */
    background-color: #fff; /* Adiciona um fundo branco */
  }
  
  /* Estilo dos campos de formulário */
  mat-form-field {
    width: 100%; /* Faz com que os campos usem toda a largura disponível */
    margin-bottom: 20px; /* Adiciona margem inferior entre os campos */
  }
  
  /* Ajusta a altura das labels */
  mat-form-field .mat-form-field-label {
    font-size: 16px; /* Ajusta o tamanho da fonte da label */
    line-height: 32px; /* Ajusta a altura da linha da label */
  }
  
  /* Estilo do botão */
  button {
    width: 100%; /* Faz com que o botão ocupe toda a largura disponível */
    margin-top: 20px; /* Adiciona margem superior ao botão */
  }
  