<!-- Adicione isso no topo do seu HTML -->
<mat-toolbar color="primary">
    <span>MKS</span>
  </mat-toolbar>
  
  <section class="register-container">
    <h2>Cadastro</h2>
    <form (ngSubmit)="onSubmit()">
      <div *ngFor="let field of fields">
        <mat-form-field appearance="fill">
          <mat-label>{{ field.label }}</mat-label>
          <ng-container [ngSwitch]="field.type">
            <!-- Para campos de texto -->
            <input *ngSwitchCase="'text'" matInput [id]="field.name" [(ngModel)]="data[field.name]" [name]="field.name" [required]="field.required">
            <!-- Para campos de número -->
            <input *ngSwitchCase="'number'" matInput [id]="field.name" [(ngModel)]="data[field.name]" [name]="field.name" [required]="field.required">
            <!-- Para campos de data -->
            <ng-container *ngSwitchCase="'date'">
              <div class="date-field-container">
                <mat-form-field appearance="fill">
                  <mat-label>{{ field.label }}</mat-label>
                  <input matInput [matDatepicker]="picker" [id]="field.name" [(ngModel)]="data[field.name]" [name]="field.name" [required]="field.required">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </ng-container>
            <!-- Para campos de seleção -->
            <mat-select *ngSwitchCase="'select'" [id]="field.name" [(ngModel)]="data[field.name]" [name]="field.name" [required]="field.required">
              <mat-option *ngFor="let option of field.options" [value]="option">{{ option }}</mat-option>
            </mat-select>
          </ng-container>
          <mat-hint *ngIf="field.hint">{{ field.hint }}</mat-hint>
          <mat-error *ngIf="field.required && !data[field.name]">Este campo é obrigatório.</mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </form>
  </section>
  